%h2 Sign up

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  - devise_error_messages!

  %div
    = f.label :email
    %br
    = f.email_field :email, autofocus: true

  %div
    = f.label :password
    - if @validatable
      %i= "(#{@minimum_password_length} characters minimum)"
    %br
    = f.password_field :password, autocomplete: "off"

  %div
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: "off"

  %div
    = f.label :first_name
    %br
    = f.text_field :first_name

  %div
    = f.label :city
    %br
    = f.text_field :city

  %div
    = f.label :country
    %br
    = country_select(:user, :country, { priority_countries: ["US"], include_blank: true} )

  %div
    = f.label :age
    %br
    = f.number_field :age

  %div
    = f.label :accepts_age_agreement, "By checking this box, you certify that you are over the age of 18."
    %br
    = f.check_box :accepts_age_agreement

  %div
    = f.submit "Sign up"

= render "devise/shared/links"
