#modal-window.modal.fade
  = render "shared/errors_and_notices"
  .modal-dialog
    .modal-content
      .modal-header
        %button{ :type => "button", class: "close", "data-dismiss" => "modal" }
          %span{ "aria-hidden" => true }
            &times;
          %span{ class: "sr-only" }
            Close
        %h4{ class: "modal-title" }
          = "#{@appointment.description}"
      .modal-body
        Log In
        = form_for(:user, remote: true, as: :user, url: session_path(:user)) do |f|
          = hidden_field(:user, :appointment_id, value: @appointment_id)
          = f.label :email
          = f.email_field :email, autofocus: true
          = f.label :password
          = f.password_field :password, autocomplete: "off"
          = f.submit "Log in"
          / = render "users/shared/links"
      .modal-footer
        %p OR
        %button{ type: "button", class: "btn btn-primary"}
          Create an account