#modal-window.modal.fade
  .modal-dialog

    .modal-content
      = form_for @appointment, remote: true do |f|
        .modal-header
          %button{ :type => "button", class: "close", "data-dismiss" => "modal" }
            %span{ "aria-hidden" => true }
              &times;
            %span{ class: "sr-only" }
              Close
          %h4{ class: "modal-title" }
            = "#{@appointment.description}"

        .modal-body
          %p To book this appointment, please:

          .auth.register
            = "Sign up for an account"
            %br
            - if @new_user
              .alert.alert-danger
                - @new_user.errors.full_messages.each do |message|
                  = message
            = fields_for :new_user do |a|
              = a.text_field :first_name, placeholder: "First Name"
              = a.text_field :email, placeholder: "Email Address"
              %br
              = a.password_field :password, placeholder: "Password"
              = a.password_field :password_confirmation, placeholder: "Retype Password"
              %br
              = a.number_field :age, placeholder: "Age"
              = a.text_field :city, placeholder: "City"
              = country_select(:new_user, :country, { priority_countries: ["US"], prompt: "Country"} )
              %br
              = a.check_box :accepts_age_agreement
              = a.label :accepts_age_agreement, "By checking this box, you certify that you are over the age of 18."

          .auth.sign-in
            = "Log In"
            %br
            - if params[:user]
              .alert.alert-danger
                Incorrect email address or password.
            = fields_for :user do |a|
              = a.text_field :email, placeholder: "Email Address"
              %br
              = a.password_field :password, placeholder: "Password"
            %br
            = link_to "Forgot password?", new_user_password_path

        .modal-footer
          .auth.register
            = f.submit "Sign up", class: %w[ btn btn-primary ]
            = '-or-'.html_safe
            %a.toggle{ href: "#" } Log in
          .auth.sign-in
            = f.submit "Log in", class: %w[ btn btn-primary ]
            = '-or-'.html_safe
            %a.toggle{ href: "#" } Sign up