%ul.nav.nav-tabs
  = nav_link "Home", root_path
  = nav_link "Book Now", appointments_path
  = nav_link "Meet", meet_path
  = nav_link "FAQ", faq_path
  - if current_user
    %li{ class: "dropdown", role: "presentation" }
      %a{ class: "dropdown-toggle", "data-toggle" => "dropdown", href: "#", role: "button", "aria-expanded" => false}
        Account
      %ul{ class: "dropdown-menu", role: "menu"}
        = nav_link "Dashboard", rails_admin_path if (current_user.instructor? || current_user.admin? )
        = nav_link "Dashboard", student_dashboard_path if current_user.student?
        = nav_link "Profile", edit_user_registration_path if current_user.student?
        %li.presentation= link_to "Log Out", destroy_user_session_path, method: :delete
  - else
    = render "shared/sign_in_dropdown"