%li{ class: "dropdown", role: "presentation" }
  %a{ class: "dropdown-toggle", "data-toggle" => "dropdown", href: "#", role: "button", "aria-expanded" => false}
    Log In / Sign Up
  %ul{ class: "dropdown-menu", role: "menu" }
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: "login_nav_bar" }) do |f|
      %div
        = f.label :email
        %br
        = f.email_field :email, autofocus: true, id: "email_login_navbar"

      %div
        = f.label :password
        %br
        = f.password_field :password, autocomplete: "off", id: "password_login_navbar"

      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me
          = f.label :remember_me

      %div
        = f.submit "Log in"
      %br
      = link_to "Forgot your password?", new_password_path(resource_name)
      %br
      = link_to "Don't have an account?", new_registration_path(resource_name)