= form_for @availability do |f|
  .row
    .form-group
      = f.label :start_time
      .input-group
        = f.datetime_select :start_time
  .row
    .form-group
      = f.label :end_time
      .input-group
        = f.datetime_select :end_time
  .row
    .form-group
      = f.label :schedule, "Set recurring .."
      .input-group
        = f.select_recurring :schedule
  .row
    .input-group
      = f.submit "Create", class: "btn btn-primary"