!!!
%html
  %head
    %title Guitar Lessons
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = render "shared/navigation_bar"
      = render "shared/errors_and_notices"

      = yield

      = render "shared/footer"